<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- custom sections -->
  <configSections>
    <sectionGroup name ="bookstoreGroup">
      <section name="bookstore" type = "MySampleType" />
    </sectionGroup>
    <sectionGroup name="pageAppearanceGroup">
      <section
        name="pageAppearance"
        type="Samples.AspNet.PageAppearanceSection"
        allowLocation="true"
        allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="secureAppSettings" type="DataProviderConfigurationSection" />
  </configSections>

  <bookstoreGroup>
    <bookstore xmlns="http://www.contoso.com/books">
      <book genre="autobiography" publicationdate="1981-03-22" ISBN="1-861003-11-0">
        <title>The Autobiography of Benjamin Franklin</title>
        <author>
          <first-name>Benjamin</first-name>
          <last-name>Franklin</last-name>
        </author>
        <price>8.90</price>
      </book>
      <book genre="novel" publicationdate="1967-11-17" ISBN="0-201-63361-2">
        <title>The Confidence Man</title>
        <author>
          <first-name>Herman</first-name>
          <last-name>Melville</last-name>
        </author>
        <price>15.11</price>
      </book>
    </bookstore>
  </bookstoreGroup>

  <secureAppSettings>
    <secureSettings xmlns="true">
      <add key="userName" value="username"/>
      <add key="userPassword" value="password"/>
    </secureSettings>
  </secureAppSettings>

  <pageAppearanceGroup>
    <pageAppearance xmlns="true" remoteOnly="true">
      <font name="TimesNewRoman" size="18"/>
      <color background="000000" foreground="FFFFFF"/>
    </pageAppearance>
  </pageAppearanceGroup>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!-- app settings -->
  <appSettings>
    <add key="IntValue" value="123" />
    <add key="StringValue" value="Hello From" />
    <add key="DoubleValue" value="45.8" />
    <add key="BoolValue" value="true" />
    <add key="LongValue" value="922337203685477807" />
    <add key="DateTimeValue" value="2013-12-18 14:28:45.300" />
    <add key="DateValue" value="2014-12-03" />
    <add key="MyTestValue" value="123" />
    <add key="StringValueTest" value="testtesttest" />
  </appSettings>

  <connectionStrings>
    <add name="SettingsDB" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=SettingsDB;Integrated Security=True"/>
  </connectionStrings>

  <configProtectedData>
    <providers>
      <add CertSubjectDistinguishedName="ORDW-004.corp.ptml.com" CertStoreName="My" name="X509ProtectedConfigProvider" type="X509ProtectedConfig.X509ProtectedConfigProvider, X509ProtectedConfigProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </providers>
  </configProtectedData>

</configuration>